.bar {
    position: fixed;
    z-index: 1;
    background-color: #848484;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;
}

.title {
    font-family: 'Roboto Slab';
    font-size: 24px;
    cursor: pointer;
}

.cart {
    margin-right: 3rem;
    cursor: pointer;
}

.number-box {
    position: absolute;
    right: 0;
    top: 0.5rem;
}